@page
@model Gear.Pages.Worms.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Червячная передача</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-10 table-info">
                Наименование редуктора
            </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Worm.Name)
            </dd>
            <dt class="col-sm-10 table-info">
                Модуль, m, мм
            </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Worm.M)
            </dd>
            <dt class="col-sm-10 table-info">
                Межосевое расстояние, a, мм
            </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Worm.Aw)
            </dd>
            <dt class="col-sm-10 table-info">
                Число витков червяка, z1
            </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Worm.Z1)
            </dd>
            <dt class="col-sm-10 table-info">
                Число зубьев зубчатого колеса, z2
            </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Worm.Z2)
            </dd>
            <dt class="col-sm-10 table-info">
                Коэффициент диаметра червяка, q
            </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Worm.Q)
            </dd>
            <dt class="col-sm-10 table-info">
                Вид червяка
            </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Worm.WormName)
            </dd>
            <dt class="col-sm-10 table-info">
                Делительный диаметр червяка, d1, мм
            </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Worm.D1)
            </dd>
            <dt class="col-sm-10 table-info">
                Делительный диаметр червячного колеса, d2, мм
            </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Worm.D2)
            </dd>
            <dt class="col-sm-10 table-info">
                Делительный угол подъёма, γ, рад.
            </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Worm.Gamma)
            </dd>
            <dt class="col-sm-10 table-info">
                Диаметр вершин витков червяка, da1, мм
            </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Worm.Da1)
            </dd>
            <dt class="col-sm-10 table-info">
                Диаметр вершин зубьев червячного колеса, da2, мм
            </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Worm.Da2)
            </dd>
            <dt class="col-sm-10 table-info">
                Наибольший диаметр червячного колеса, dam2, мм
            </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Worm.Dam2)
            </dd>
            <dt class="col-sm-10 table-info">
                Длина нарезной части червяка, b1, мм
            </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Worm.B1)
            </dd>
            <dt class="col-sm-10 table-info">
                Ширина венца колеса, b2, мм
            </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Worm.B2)
            </dd>
        </dl>
    </div>
    <div class="col-md-6 col-md-offset-2 mt-1">
        <img class="d-block w-100 h-75" src="~/images/WormMech.jpg" alt="Схема зацепления" />
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-page="./Index">Назад</a>
</div>
