@page
@model Gear.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Admin";
}

<h1>Страница администратора</h1>
<hr />
<div class="row">
    <div class="col-md-6 table-responsive">
        <form method="post">
            <table class="table table-hover">
                <thead>
                    <tr class="table-info">
                        <th scope="col">Пользователи</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.User)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                <a class="btn btn-primary  mb-1" asp-page="./PolicyUser" asp-route-id="@item.Id">Права доступа</a>
                                <a class="btn btn-danger mb-1" asp-page="./DeleteUser" asp-route-id="@item.Id">Удалить</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>           
        </form>
    </div>
    <div class="col-md-4 table-responsive">
        <form method="post">
            <table class="table table-hover">
                <thead>
                    <tr class="table-info">
                        <th scope="col">Роли</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Role)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <a class="btn btn-danger mb-1" asp-page="./DeleteRole" asp-route-id="@item.Id">Удалить</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a class="btn btn-primary mb-1" asp-page="./CreateRole">Создать роль</a>
        </form>
    </div>
</div>