@page
@model Gear.Pages.Spurs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Цилиндрическая передача</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-10 table-info">
                Наименование редуктора
            </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Spur.Name)
            </dd>
            <dt class="col-sm-10 table-info">
                Модуль, m, мм
            </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Spur.Mn)
            </dd>
            <dt class="col-sm-10 table-info">
                Межосевое расстояние, a, мм
            </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Spur.Aw)
            </dd>
            <dt class="col-sm-10 table-info">
                Количество зубьев шестерни, z1
            </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Spur.Z1)
            </dd>
            <dt class="col-sm-10 table-info">
                Количество зубьев колеса, z2
            </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Spur.Z2)
            </dd>
            <dt class="col-sm-10 table-info">
                Ширина венца шестерни, b1, мм
            </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Spur.B1)
            </dd>
            <dt class="col-sm-10 table-info">
                Ширина венца колеса, b2, мм
            </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Spur.B2)
            </dd>
            <dt class="col-sm-10 table-info">
                Угол наклона линии зуба, β, рад.
            </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Spur.Betta)
            </dd>
            <dt class="col-sm-10 table-info">
                Делительный диаметр шестерни, d1, мм
            </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Spur.D1)
            </dd>
            <dt class="col-sm-10 table-info">
                Делительный диаметр колеса, d2, мм
            </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Spur.D2)
            </dd>
            <dt class="col-sm-10 table-info">
                Диаметр вершин шестерни, da1, мм
            </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Spur.Da1)
            </dd>
            <dt class="col-sm-10 table-info">
                Диаметр вершин колеса, da2 мм
            </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Spur.Da2)
            </dd>
            <dt class="col-sm-10 table-info">
                Диаметр впадин шестерни, df1, мм
            </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Spur.Df1)
            </dd>
            <dt class="col-sm-10 table-info">
                Диаметр впадин колеса, df2, мм
            </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Spur.Df2)
            </dd>
            <dt class="col-sm-10 table-info">
                Постоянная хорда, s, мм
            </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Spur.Sc)
            </dd>
            <dt class="col-sm-10 table-info">
                Высота до постоянной хорды, h, мм
            </dt>
            <dd class="col-sm-5">
                @Html.DisplayFor(model => model.Spur.Hc)
            </dd>
        </dl>
    </div>
    <div class="col-md-6 col-md-offset-2 mt-1">
        <img class="d-block w-100 h-75" src="~/images/SpurMech.jpg" alt="Схема зацепления"/>
    </div>
</div>
<div>
    <a type="button" class="btn btn-primary" asp-page="./Index">Назад</a>
</div>
